#a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#b{
    font-family: Didact Gothic;
}

#c{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

}

#d{
   /*<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'> */
   font-family: 'Actor';
}

#e{
    font-family: 'Staatliches', cursive;
}

#f{
    font-family: 'Pompiere', cursive;
}

#g{
    font-family: 'Comfortaa', cursive;
}