<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/main.css">
    
</head>
<body>
    
        <!--navbar-->
    <nav id = "navbar">
        <a class = "button" class = "current_page" href="{{url_for('recipes')}}">Home</a>
        <a class = "button" href="{{url_for('orders')}}">Order</a>
        <a class = "button" href="{{url_for('gallery')}}">Gallery</a>
    </nav>

    <!--recipe-->
    <div class="main_content">
        <div class="grid-container">
            <div class="item1"><h1><b><hr> Chocolate Cupcakes </b></h1>
                <table class="specs">
                    <tr>
                        <th>Servings</th>
                        <th>Prep Time</th>
                        <th>Difficulty</th>
                    </tr>

                    <tr>
                        <td>15 cupcakes</td>
                        <td>60 Minutes</td>
                        <td>Easy</td>
                    </tr>
                </table>
                <hr><h3 class="section_title">Ingredients</h3>
                <hr></div>
            
            <div class="item3">

                <ul class = "ingredients">
                    <li>1 Cup flour</li>
                    <li>1 Cup Sugar</li>
                    <li>1 tsp baking powder</li>
                    <li>1 tsp baking soda</li>
                    <li>25g cocoa powder</li>
                    <li>1 cup boiling water</li>
                    <li>½ Cup oil</li>
                    <li>1 tsp vanilla essense</li>
                    <li>¼ tsp salt</li>
                </ul>
            </table></div>  
            <div class="item4"><img src="static\2021-07-01.jpg" width = "100%" ALIGN = "right" alt="Vanilla Cake"></div>
            <div class="item5"><hr><h3 class = "section_title">Directions</h3><hr>
                <p>
                    <ol class = "directions">
                        <li>Preheat the oven to 180°C</li>
                        <li>Add the flour, sugar, cocoa, baking powder, baking soda into a bowl and mix together</li>
                        <li>Add the water, oil and vanilla and mix</li>
                        <li>Add into a 9 inch pan or into a cupcake tray</li>
                        <li>Bake for 20 - 30 minutes</li>
                        <li>Let cool and serve</li>
                    </ol>
                </p></div>
          </div>
        </div>
</body>

<footer id = "bottom">
    <a class = "button" href="{{url_for('chocolate_cake')}}">Back To top</a>
</footer>

</html>